
<ul class="nav nav-tabs nav-fill" #notificationsList>
  <li class="nav-item" *ngFor="let component of listComponents; let i = index" >
    <a class="nav-link" [class.active]="showingNo==i" (click)="showComponent(i)">Step {{ i + 1}}</a>
  </li>
</ul>
<div>
    <div  class="alert alert-success" *ngIf="notifications.length > 0">
        <ul>
            <li *ngFor="let notification of notifications">
                {{ notification }}
            </li>
        </ul>
    </div>

    <div class="alert alert-warning" *ngIf="errors.length > 0">
        <ul>
            <li *ngFor="let err of errors">
                {{ err }}
            </li>
        </ul>
    </div>
</div>


<div class="steps mt-3">
    <app-one *ngIf="showingNo==0" [locations]="locations" [newFair]="newFair" (submited)="nextStep($event)" (imported)="importedFairs($event)"  (locationsSent)="acceptLocations($event)"></app-one>
    <app-two *ngIf="showingNo==1" [editFair]="newFair" (submited)="nextStep(newFair)" (fileAdded)="saveFiles($event)"></app-two>
    <app-three *ngIf="showingNo==2" (imported)="importPackages($event)" (done)="nextStep(newFair)"></app-three>
    <app-four *ngIf="showingNo==3" [newFair]="newFair" [locations]="locations" (submited)="sendAll($event)"></app-four>
</div>
