<div class="row">
    <div class="col-md-12">
        <div class="alert alert-warning" *ngIf="errorMessage">{{ errorMessage }}</div>
        <div class="alert alert-success" *ngIf="successMessage">{{ successMessage }}</div>
    </div>
    <div class="col-md-6 px-2">
        <h2>Fairs:</h2>

        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Place</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fair of fairsList" [class.bg-light]="fair==selectedFair">
                    <td><button (click)="pickEditFair(fair)" class="btn btn-outline-info">{{ fair.name }}</button></td>
                    <td>{{ fair.start | date }}</td>
                    <td>{{ fair.end | date }}</td>
                    <td>{{ fair.place }}</td>
                    <td>
                        <button class="btn btn-outline-primary" (click)="selectFair(fair)">Entries</button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>

    <form class="col-md-6 px-2"  *ngIf="selectedFair">
        <h3>{{ selectedFair.name }} - entries:</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Company</th>
                <th>Package</th>
                <th>Additionals</th>
            </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let entry of entriesOfFair">
                    <tr>
                        <td>{{ entry.company?.name }} - {{ entry.company?.address}}</td>
                        <td>{{ entry.package?.title }} - {{ entry.package?.price }}</td>
                        <td>
                            <ul *ngIf="entry.additionals">
                                <li *ngFor="let add of entry.additionals">
                                    {{ add.title }} - {{ add.price }}
                                </li>
                            </ul>

                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" class="text-center">
                            <form *ngIf="!entry.allowed" class="form-inline justify-content-center">
                                <label for="location_id">Location:</label>
                                <select [formControl]="locationControl" name="location_id" id="location_id" class="form-control form-control-sm">
                                    <option *ngFor="let loc of locations" [value]="loc.id">{{ loc.name }}</option>
                                </select>
                                <button class="btn btn-sm btn-outline-primary" (click)="allow(entry)">Allow</button>
                            </form>
                            <div *ngIf="entry.allowed" class="justify-content-between">
                                <span class="badge badge-info">Location: <strong>{{ entry.location.name }}</strong></span>
                                <button class="btn btn-sm btn-outline-danger"  (click)="forbid(entry)">Forbid</button>
                            </div>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </table>

    </form>


    <div class="col-md-6 py-2" *ngIf="editingFair">
        <h3>{{ editingFair.name }} - edit:</h3>


            <section class="form-row my-1">
                <label class="col-4 col-form-label">Name:</label>
                <div class="col-8">
                    <input type="text" [(ngModel)]="editingFair.name" placeholder="Fair Name" class="form-control" id="name"/>
                </div>

            </section>
            <section class="form-row my-1">
                <label class="col-4 col-form-label">Start time:</label>
                <div class="col-8">
                    <input type="text" disabled [(ngModel)]="editingFair.start" placeholder="Starting time" class="form-control" id="start"/>
                </div>
            </section>
            <section class="form-row my-1">
                <label class="col-4 col-form-label">End time:</label>
                <div class="col-8">
                    <input type="text" disabled [(ngModel)]="editingFair.end" placeholder="Ending time" class="form-control" id="end"/>
                </div>
            </section>
            <section class="form-row my-1">
                <label class="col-4 col-form-label">Place:</label>
                <div class="col-8">
                    <input type="text" [(ngModel)]="editingFair.place" placeholder="Place" class="form-control" id="place"/>
                </div>
            </section>
            <section class="form-row my-1">
                <label class="col-4 col-form-label">About:</label>
                <div class="col-8">
                    <textarea name="about" id="about" [(ngModel)]="editingFair.about"  class="form-control" placeholder="More about this"></textarea>
                </div>
            </section>

        <section class="form-row my-1 justify-content-center">
            <label class="col-4 col-form-label">Begin accepting CV:</label>
            <div class="col-8">
                <input type="text" [(ngModel)]="editingFair.startCV"  placeholder="Starting time" class="form-control"/>
            </div>
        </section>
        <section class="form-row my-1 justify-content-center">
            <label class="col-4 col-form-label">End accepting CV:</label>
            <div class="col-8">
                <input type="text" [(ngModel)]="editingFair.endCV"  placeholder="Ending time" class="form-control"/>
            </div>
        </section>

        <section class="form-row my-1 justify-content-center">
            <label class="col-4 col-form-label">Begin accepting participation:</label>
            <div class="col-8">
                <input type="text" [(ngModel)]="editingFair.startParticipate" placeholder="Starting time" class="form-control"/>
            </div>
        </section>
        <section class="form-row my-1 justify-content-center">
            <label class="col-4 col-form-label">End accepting participation:</label>
            <div class="col-8">
                <input type="text" [(ngModel)]="editingFair.endParticipate"  placeholder="Ending time" class="form-control"/>
            </div>
        </section>

        <app-new-location [fair]="editingFair" [locations]="locationsNames" (onNewLocation)="addLocation($event)" (onAdded)="updateLocations($event)"></app-new-location>

        <section class="form-row justify-content-center">
            <div class="col-12 mt-2 text-center">
                <button (click)="editFair()" class="btn btn-warning" type="submit">Save</button>
            </div>
        </section>
    

    </div>

</div>
